certifi==2025.1.31
distlib==0.3.9
dnspython==2.7.0
filelock==3.17.0
packaging==24.2
pipenv==2024.4.1
platformdirs==4.3.6
python-dotenv==1.1.0
setuptools==75.8.1
virtualenv==20.29.2
pymongo==4.11.1
Jinja2==3.1.5
dotenv==0.9.9
Flask==3.1.0
sumy==0.11.0
nltk==3.9.1
numpy==2.1.1